asgiref==3.8.1
Django==5.2.2
django-csp==4.0
et_xmlfile==2.0.0
Faker==37.4.0
mysqlclient==2.2.7
numpy==2.3.0
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
pillow==11.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
